[submodule "style"]
	path = style
	url = https://github.com/BPA-CSIRO-Workshops/btp-handout-style.git
[submodule "020_qc"]
	path = 020_qc
	url = git@github.com:BPA-CSIRO-Workshops/btp-module-ngs-qc.git
[submodule "030_rna-seq"]
	path = 030_rna-seq
	url = git@github.com:BPA-CSIRO-Workshops/btp-module-rna-seq.git
